body{
    background-color: aqua;
    width: 100%;
    max-width: 1500px;
}
.ingatlan{
    width: 1500px;
    border: 1px solid black;
}
img
{
    width: 100%;
}
.ingatlan
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}